.app {
  text-align: center;
  padding: 20px;
}

.app__h3 {
  text-decoration: underline;
}

.app__input {
  padding: 5pX;
  outline: none;
}

.app__button {
  background-color: green;
  color: white;
}

.app__div {
  display: flex;
  justify-content: center;
}

.app__div__div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 500px;
  width: 500px;
}

.app__div__divInner {
  border-style: solid;
  border-width: thin;
  padding: 4px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 100px;
}

.app__span {
  padding: 10px;
}

.app__span__player1 {
  background-color: red;
  color: white;
}

.app__span__player2 {
  background-color: blue;
  color: white;
}
